@font-face {
  font-family: 'Evogria';
  src: url('../fonts/Evogria.woff') format('woff')
}
@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../fonts/BebasNeue-Regular.otf') format('otf')
}